<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contas</title>
</head>
<body>
    <h1>Seja bem vindo!</h1>
    <p>Agora são: {{ now }} </p>
    <ul>
        {% for item in transacoes %}
            {% if item == "t2" %}
            <li><b>{{ item }}</b></li>
            {% else %}
            <li>{{ item }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>